.sign {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    color: var(--black-color);
    background-color: var(--white-color);
}

.sign__container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 40px;
}

@media screen and (min-width: 1024px) {
    .sign::before {
        content: "";
        width: 50vw;
        min-height: 100vh;
        background-image: url("https://cdn.pixabay.com/photo/2014/08/12/00/01/santorini-416136_1280.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}